{% extends 'base.html' %}

{% block content %}
    {% include 'components/navigation.html' %}

{% if crawlers %}
    <div class="container bg-white border rounded my-2" id="items">
        <div class="row fw-bold">
            <div class="col overflow-hidden">
                Название
            </div>
            <div class="col overflow-hidden">
                Дата последнего сканирования
            </div>
            <div class="col overflow-hidden">
                Товаров
            </div>
        </div>
        {% for crawler in crawlers %}
            <div class="row my-1 py-1 border-top crawler selectable" data-id="{{crawler.id}}" data-kind="crawler">
                <div class="col overflow-hidden">
                   <a href="{{crawler.url}}">{{crawler.name}}</a>
                </div>
                <div class="col overflow-hidden">
                    {{crawler.updated_at | date(format="%Y-%m-%d %H:%M")}}
                </div>
                <div class="col overflow-hidden">
                    {{crawler.num_products}}
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="alert alert-danger" role="alert">
                    Ни один веб-парсер не зарегистрирован.
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}
