{% extends 'base.html' %}

{% block content %}
    {% include 'components/navigation.html' %}

    <div class="container bg-white border rounded my-2" id="items">

        {% include 'components/product_header.html' %}

        {% for product in products.items %}
            {% include 'components/product.html' %}
        {% else %}
            <div class="alert alert-danger" role="alert">
                Нет товаров для отображения.
            </div>
        {% endfor %}

        {% set items = products %}
        {% include 'components/pagination.html' %}
    </div>

{% endblock %}
