<div class="row">
    <div class="col">
        <form method="POST" action="/benchmark/associate">
            <div class="row">
                <div class="col">
                    <select class="form-control my-1 product-select" name="product_id" placeholder="Добавить товар" required data-crawler="{{crawler.id}}">
                    </select>
                    <input type="hidden" name="benchmark_id" value="{{benchmark.id}}" required>
                    <input type="hidden" name="crawler_id" value="{{crawler.id}}" required>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary my-1" type="submit"><i class="bi bi-plus"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>