<div class="row my-1 py-1 border-top product {%if product_kind%}selectable{%endif%}" data-id={{product.id}} data-kind="{{product_kind | default(value="") }}">
    {% if distances and distances[product.id] %}
        <div class="col overflow-hidden">
            <form method="POST" action="/benchmark/unassociate">
                <input type="hidden" value="{{benchmark.id}}" name="benchmark_id" required>
                <input type="hidden" value="{{product.id}}" name="product_id" required>
                <button type="submit" class="btn btn-sm btn-outline-danger" onclick="return confirm('Удалить?')">
                    <i class="bi bi-x"></i>
                </button>
                {{distances[product.id] | round(method="ceil", precision=2)}}
            </form>
        </div>
    {% endif %}
    <div class="col overflow-hidden">
        {{product.name}}
    </div>
    <div class="col overflow-hidden">
        {{product.sku}}
    </div>
    <div class="col overflow-hidden">
        {{product.category}}
    </div>
    <div class="col overflow-hidden">
        {{product.price}}{{constants::currency()}} / {{product.amount}} {{product.units}}
    </div>
    <div class="col overflow-hidden text-truncate">
        {{product.description}}
    </div>
    <div class="col overflow-hidden">
        {{product.updated_at | date(format="%Y-%m-%d %H:%M")}}
    </div>
</div>
